<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>

<nav th:replace="${usuario} ? ~{fragments :: navbar(usuario=${usuario})} : ~{}">
</nav>

<div class="container-fluid">

    <h2 th:text="'Modificación del equipo ' + ${equipo.getId()} + ', ' + ${equipo.getNombre()}"></h2>

    <form method="post" th:action="@{/equipos/{id}/modificacion(id=${equipo.id})}" th:object="${equipoData}">
        <div class="col-6">
            <div class="form-group">
                <label for="nombre">Nuevo nombre del equipo:</label>
                <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
            </div>
            <button class="btn btn-primary" type="submit">Modificar equipo</button>
            <a class="btn btn-link" href="/equipos">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>