<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body onload="setDate()">

    <nav th:replace="${usuario} ? ~{fragments :: navbar(usuario=${usuario})} : ~{}">
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <form method="post" th:action="@{/equipos/{idEquipo}/tarea/nueva(idEquipo=${equipo.getId()})}" th:object="${tareaData}">
                <div class="col-12">
                    <h2 class="text-center" th:text="'Nueva tarea para el equipo ' + ${equipo.getId()} + ', ' + ${equipo.getNombre()}"></h2>
                    <br>


                    <div class="form-group">
                        <label for="titulo">Título de la tarea:</label>
                        <input class="form-control" id="titulo" name="titulo" required type="text"/>
                    </div>


                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <input class="form-control" id="descripcion" name="descripcion" required type="text"/>
                    </div>


                    <div class="form-group">
                        <label for="fechaInicio">Fecha de Inicio</label>
                        <input id="fechaInicio" class="form-control" name="fechaInicio" type="datetime-local" />
                    </div>


                    <div class="form-group">
                        <label for="fechaFin">Fecha Fin</label>
                        <input id="fechaFin" class="form-control" name="fechaFin" type="datetime-local" />
                    </div>


                    <div class="form-group">
                        <label for="asignadoA">Asignar a: </label>
                        <select id="asignadoA" name="asignadoA" required>
                            <option> </option>
                            <option th:each="miembro: ${equipo.getUsuarios()}" th:value="${miembro.getId()}" th:text="${miembro.getNombre()} + ', ' + ${miembro.getEmail()}"></option>
                        </select>
                    </div>


                    <button class="btn btn-primary" type="submit">Crear tarea</button>
                    <a class="btn btn-link" th:href="@{/equipos/{id}/(id=${equipo.getId()})}">Cancelar</a>


                </div>
            </form>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-9">
                <div th:object="${tareaData}">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <ul th:if="${error != null}" class="alert alert-danger">
                    <li th:text="${error}"></li>
                </ul>
            </div>
        </div>



    </div>



    <div th:replace="fragments::javascript"/>

</body>
<script>
    function setDate(){
        document.getElementById("fechaInicio").value = curday('-');
        document.getElementById("fechaFin").value = curday('-');
    }
    var curday = function(sp){
        today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //As January is 0.
        var yyyy = today.getFullYear();

        if(dd<10) dd='0'+dd;
        if(mm<10) mm='0'+mm;
        return (dd+sp+mm+sp+yyyy);
    };
</script>
</html>