<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>

<nav th:replace="${usuario} ? ~{fragments :: navbar(usuario=${usuario})} : ~{}">
</nav>

<div class="container-fluid">
    <div class="row justify-content-center">
        <form method="post" th:action="@{/equipos/{idEquipo}/tarea/{idTarea}/editar(idEquipo=${equipo.getId()}, idTarea=${tarea.getId()})}" th:object="${tareaData}">
            <div class="col-12">
                <h2 class="text-center" th:text="'Modificación de la tarea ' + ${tarea.getId()} + ' para el equipo ' + ${equipo.getId()} + ', ' + ${equipo.getNombre()}"></h2>
                <br>


                <div class="form-group">
                    <label for="titulo">Título de la tarea:</label>
                    <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
                </div>


                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input class="form-control" id="descripcion" name="descripcion" required th:field="*{descripcion}" type="text"/>
                </div>


                <div class="form-group">
                    <label for="fechaInicio">Fecha de Inicio</label>
                    <input id="fechaInicio" class="form-control" name="fechaInicio" type="datetime-local" th:field="*{fechaInicio}" />
                </div>


                <div class="form-group">
                    <label for="fechaFin">Fecha Fin</label>
                    <input id="fechaFin" class="form-control" name="fechaFin" type="datetime-local" th:field="*{fechaFin}" />
                </div>


                <div class="form-group">
                    <label for="asignadoA">Asignar a: </label>
                    <select id="asignadoA" name="asignadoA" required>
                        <option th:value="${tarea.getAsignadoA().getId()}" th:text="${tarea.getAsignadoA().getNombre()} + ', ' + ${tarea.getAsignadoA().getEmail()}"> </option>
                        <option th:each="miembro: ${equipo.getUsuarios()}" th:if="${miembro.getId()} != ${tarea.getAsignadoA().getId()}" th:value="${miembro.getId()}" th:text="${miembro.getNombre()} + ', ' + ${miembro.getEmail()}"></option>
                    </select>
                </div>


                <button class="btn btn-primary" type="submit">Crear tarea</button>
                <a class="btn btn-link" th:href="@{/equipos/{id}/(id=${equipo.getId()})}">Cancelar</a>


            </div>
        </form>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <div th:object="${tareaData}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <ul th:if="${error != null}" class="alert alert-danger">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </div>



</div>



<div th:replace="fragments::javascript"/>

</body>
</html>